{% extends 'base.html' %}

{% block title %}Browse Files - My App{% endblock %}

{% block content %}
<div class="container mt-5" id="browseApp">
  <h1>Uploaded Files</h1>
  <ul class="list-group">
    {% raw %}
    <li class="list-group-item" v-for="file in files" :key="file">
      <a :href="`/api/browse/download/${file}`">{{ file }}</a>
    </li>
    {% endraw %}
  </ul>
  <p v-if="files.length === 0">No files uploaded.</p>
</div>
{% endblock %}

{% block scripts %}
<script>
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        files: []
      }
    },
    mounted() {
      fetch('/api/browse/')
        .then(response => response.json())
        .then(data => {
          this.files = data.files;
          console.log(this.files)
        })
        .catch(error => {
          console.error('Error fetching files:', error);
        });
    }
  }).mount('#browseApp');
</script>
{% endblock %}
